<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <div>
      <section
        class="w-full h-full flex flex-col items-center overflow-x-hidden bg-creamwhite"
      >
        <div
          class="relative w-full h-full flex justify-center items-center"
        >
          <div
            class="w-full bg-black min-h-screen flex justify-center items-center p-3"
          >
            <div
              class="relative w-full max-w-screen-2xl min-h-screen flex flex-col justify-center items-center"
            >
              <div
                id="main-error"
                class="absolute top-5 right-5 h-max w-max bg-red rounded-md"
              ></div>
              <div
                id="main-success"
                class="absolute top-5 right-5 h-max w-max bg-green rounded-md"
              ></div>
              <div
                class="absolute top-[50%] right-[50%] translate-x-[50%] -translate-y-[50%] opacity-100 transition-all duration-500 border border-white rounded-md p-4 bg-darkBlack"
              >
                <div class="flex flex-col justify-center items-center">
                  <a href="/" class="h-10 w-40 mb-5">
                    <img
                      src='/img/logo-no-background.png'
                      alt="logo"
                      class="h-full w-full bg-contain rounded-xl"
                    />
                  </a>
                  <h1 class="font-bold text-white text-2xl">Sign up</h1>
                </div>
                <div
                  class="flex max-md:flex-col justify-center items-center mt-2"
                >
                  <form
                    id="register-form"
                    class="flex flex-col justify-center items-center"
                  >
                    <div
                      class="flex flex-col justify-center items-start m-3"
                    >
                      <label
                        for="username"
                        class="text-base text-white mb-2"
                      >
                        Username
                      </label>
                      <input
                        id="username"
                        type="text"
                        placeholder="username"
                        class="w-60 bg-white text-black border-b border-gray focus:outline-none active:outline-none focus:border-white transition-colors duration-500 p-3 rounded-md"
                        required="true"
                        name="username"
                      />
                    </div>
                    <div
                      class="flex flex-col justify-center items-start m-3"
                    >
                      <label for="email" class="text-base text-white mb-2">
                        Email
                      </label>
                      <input
                        id="email"
                        type="text"
                        placeholder="email"
                        class="w-60 bg-white text-black border-b border-gray focus:outline-none active:outline-none focus:border-white transition-colors duration-500 p-3 rounded-md"
                        required="true"
                        name="email"
                      />
                    </div>
                    <div
                      class="flex flex-col justify-center items-start m-3 relative"
                    >
                      <label
                        for="password"
                        class="text-base text-white mb-2"
                      >
                        Password
                      </label>
                      <input
                        id="password"
                        type="password"
                        placeholder="Password"
                        class="w-60 bg-white text-black border-b border-gray focus:outline-none active:outline-none focus:border-white transition-colors duration-500 p-3 rounded-md"
                        required="true"
                        name="password"
                      />
                    </div>
                    <input
                      value="Register"
                      type="submit"
                      class="w-60 m-3 bg-green text-white font-bold rounded-md transition-all hover:bg-black duration-500 p-3 cursor-pointer"
                    />
                  </form>
                </div>
                <div
                  class="w-full mt-5 text-base text-white flex justify-center items-center"
                >
                  <p>
                    Already registered?
                    <a
                      href="/login"
                      class="border-b-2 border-green text-green"
                      >Log in</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      const form = document.getElementById("register-form");
      const error = document.getElementById("main-error");
      const success = document.getElementById("main-success");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const username = form.username.value;
        const email = form.email.value;
        const password = form.password.value;

        if (username.length == 0 || username.length <= 2) {
          error.textContent =
            "Username must equal to or more than 3 words in length";
          error.classList.add("p-2");
          setTimeout((e) => {
            error.textContent = "";
            error.classList.remove("p-2");
          }, 3000);
        } else if (
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(!email)
        ) {
          error.textContent = "Invalid Email";
          error.classList.add("p-2");
          setTimeout((e) => {
            error.textContent = "";
            error.classList.remove("p-2");
          }, 3000);
        } else if (
          /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/.test(
            !password
          )
        ) {
          error.textContent =
            "Password must contain a numeric digit, an special character and must be between (7 - 14) letters in length";
          error.classList.add("p-2");
          setTimeout((e) => {
            error.textContent = "";
            error.classList.remove("p-2");
          }, 3000);
        } else {
          try {
            const res = await fetch("/register", {
              method: "POST",
              body: JSON.stringify({ username, email, password }),
              headers: { "Content-Type": "application/json" },
            });
            const data = await res.json();
            if (data.error) {
              error.textContent = data.error;
              error.classList.add("p-2");
              setTimeout((e) => {
                error.textContent = "";
                error.classList.remove("p-2");
              }, 3000);
            }
            if (data.success) {
              success.textContent = data.success;
              success.classList.add("p-2");
              setTimeout((e) => {
                success.textContent = "";
                success.classList.remove("p-2");
              }, 3000);
              document.getElementById("username").value = "";
              document.getElementById("email").value = "";
              document.getElementById("password").value = "";
              location.assign("/login");
            }
          } catch (err) {
            error.textContent = "No server response";
            error.classList.add("p-2");
            setTimeout((e) => {
              error.textContent = "";
              error.classList.remove("p-2");
            }, 3000);
          }
        }
      });
    </script>
  </body>
</html>
